body{
  font-family: Pretendard;
}
.off-display{
  display: none;
}
#dot {
  height: 6px;
  width: 6px;
  background-color: #FF4D4F;
  border-radius: 50%;
  display: inline-block;
}

#home-top1{
  font-family: Pretendard;
  font-size: 24px;
font-weight: 700;
line-height: 28.64px;
text-align: left;
color: #0B101A;

}

#home-top2{
font-family: Pretendard;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
text-align: left;
color:#FF4D4F;
}

#head-hr{
  margin-top:20px;
  border: 1px solid #D7D8DA
}

.home-hr{
  margin-top:30px;
  border: 1px solid #D7D8DA
}

.home-hr2{
  border: 1px solid #D7D8DA;
}

#nav-bar{
  margin-top: 10px;
  border-radius: 5px;
}
#menu-link{
  list-style-type: none;
  background-color: #EBEEF3;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  border-radius: 8px 0px 0px 8px;
  max-height: 39.55px;
}
#menu-link li{
  display: inline;
}

#menu-link li a {
    display: inline-block;
    color: #B1B4BB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
li a[class='active']{
  background: #2A3958;
  border-bottom: 4px solid #2A3958;
  color:#FFFFFF !important;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  
}

.home-sec{
  margin-top: 50px;
}

span u{
  color : #FF4D4F;
}

.action-select{
  float: right;
}

#table-t1{
  font-size: 20px;
  font-weight: bolder;
  line-height: 23.87px;
  text-align: left;
  color: #0B101A;

  
}

#table-t2{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 16.71px;
  color: #5A616A;

}

.table-t3{
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  text-align: left;
   
}

.table-filtters{
  border-radius: 8px;
  height: 39px;
  width: 150.15px;
  border: 1px solid #B1B4BB;
  background-color: #FFFFFF;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  height: 39px;
  width: 150.15px;
  border: 1px solid #B1B4BB;
  background-color: #FFFFFF;  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-width: 150.15px;
  bottom: -108px;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.select-option{
  text-indent: 10%;
  font-size: 16px;
  padding-top: 6px 46px 6px 16px;
  gap: 10px;
}

.select-option:hover{
  background: #2A3958;
  color: #FFFFFF;
  font-weight: 500;
}

#dropdown-first{
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 12px;
  margin-left: 5px;
  letter-spacing: normal;
}

.fa-angle-down{
  position: relative;
  right: -22px;
  border:1px;
}

.caret-up {
  content: "\25bc";
  color: grey;
}

.registration-btn{
  float : left;
  color: #FFFFFF;
  background-color: #2A3958;
  border-radius: 10px;
  width: 100px;
  height: 45px;
}

.save-btn{
  color: #FFFFFF;
  background-color: #2A3958;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.float-right{
  float:right;
  display: inline;
}

.float-left{
  float:left;
  display: inline;
}

thead{
  background: #EEF0F4;
  height: 60px;
}


thead th{
  color: #222222;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  border-right: 1px solid white;
}

.table1{
  margin-top: 70px;
  font-family:Pretendard;
  border-collapse: collapse;
}

th input, td input{
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 0.5px solid #D7D8DA;
  box-shadow: 0px 2px 5px 0px #5960781A;
  box-shadow: 0px 0px 0px 1px #464F6029;
  box-shadow: 0px 1px 1px 0px #0000001A;
  
}

td span{
  background: #EBEEF3;
  width: 61px;
  height: Fixed (29px)px;
  top: 8px;
  left: 311px;
  padding: 7px 18px 7px 18px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #D7D8DA;
  
}

tr{
  margin: 10px 5px 10px 5px;
  height: 44px;
  max-height: 40px;
}

tr td{
  text-align: center;
  font-size: 14px;
}

span.badge-warning{
max-width: 69px;
height: 20px;
padding: 2px 10px 2px 10px;
gap: 6px;
border-radius: 10px;
opacity: 0px;
background-color: #FFEDD5;
color:#9A3412;
font-weight: 500;
font-size: 14px;
font-family: Pretendard;
white-space: nowrap;
}

span.badge-danger{
  width: 69px;
  height: 20px;
  padding: 2px 10px 2px 10px;
  gap: 6px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #FEE2E2;
  color:#9A3412;
  font-weight: 500;
  font-size: 14px;
  font-family: Pretendard;
  white-space: nowrap;
  }

  span.badge-success{
    width: 69px;
    height: 20px;
    padding: 2px 10px 2px 10px;
    gap: 6px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #DCFCE7;
    color:#166534;
    font-weight: 500;
    font-size: 14px;
    font-family: Pretendard;
    white-space: nowrap;
    }

  .no-wrap{
    white-space: nowrap;
  }

  .stribe-row2{
    background-color: #F9F9FB;
    height: 44px;
  }

  tr:nth-child(even){
    background-color: #F9F9FB;
    height: 44px;
  }

  .pagination{
    list-style-type: none;    
    padding: 12px 20px 12px 20px;
    background: #F1F3F5;
    text-align: center;
  }
  .pagination li i{
    color: blue;
  }

  .pagination li{
    display: inline-block;

  }  

  .pagination li a.active{
    background-color: #2A3958;
    color: #F5F5F5;
    font-size: 20px;
  }

  .pagination li a{
    height: 40px;
    width: 40px;    
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding:8px 12px 8px 12px;
    border-radius: 4px;
    color: #A1A1A1;
    font-size: 16px;

  }

  #investment-box{
    height: 530px;
    width: 700px;
    margin: 20px 15px 20px 15px;
    box-shadow: 0px 20px 24px -4px #1018281A;
    border-radius: 12px;  
    border: 1px solid #1018280A;   
    padding: 20px 24px 0px 24px; 
    background-color: white;
    z-index: 999;
  }

  #new_investment_box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
  }

  .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }  

  .modal-btn{
    background-color: white;
    border: none;
    color :  #5A616A;
    font-size: 20px;
    margin-top: 20px;
  }

  .modal-footer{
    margin-top: 20px;
    text-align: center;
  }

  #btn-save{
    background-color: #2A3958;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    padding: 15px 15px 15px 15px;
    width: 150px;
    max-height: 44px;
    border-radius: 10px;
  }

  #btn-cancel{
    background-color: #FFFFFF;;
    color: #2A3958;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    padding: 15px 15px 15px 15px;
    width: 150px;
    max-height: 44px;
    border-radius: 10px;
    border: 1.5px solid #2A3958;
  }

  #modal-info{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02px;
    line-height: 19.5px;
  }

  #invent-table{
    display: table;
    margin-top: 20px;
  }

  .invent-table-row{
    display: table-row;
    outline: 1px solid #D7D8DA;  
  }

  .invest-table-cell{
    display: table-cell;
    padding: 20px;
    width: 500px;
    max-height: 15px;
  }

  .invest-table-cell input[type='text']{
    border:0px;
    height: 20px;
    width: 100%;
  }  

  .invest-table-cell select{
    border-radius: 8px;
    padding: 10px 12px 10px 12px;
    width: 282.15px;
    height: 37px;
    border: 1px solid #B1B4BB;
  }

  .invest-table-cell span.fileupload{
    width: Hug (76px)px;
    height: Hug (37px)px;
    top: 6px;
    left: 168px;
    padding: 10px 12px 10px 12px;
    gap: 21px;
    border-radius: 8px;
    border: 1px solid #D7D8DA;
    opacity: 0px;
    background-color: #EBEEF3;
    ;
  }

  .invest-table-cell.th{
    background-color: #EBEEF3;
    max-width: 170px;
    ;
  }

  .check-investment{
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }

  .check-investment .bg{
    accent-color: #DDE0E5;
  }

  .c-checkbox{
    width: 16px ;
    height: 16px ;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #ffffff;
    margin: 5px 10px 5px 15px;
    cursor: default;
  }

  .tick-checkbox{
    background-color: #DDE0E5;
    box-shadow: 0px 2px 5px 0px #5960781A;
    box-shadow: 0px 0px 0px 1px #464F6029;
    box-shadow: 0px 1px 1px 0px #0000001A;
  }

  .item-not-selected-modal{
    width: 400px;
    height: 198px;
    padding: 24px 30px 0px 24px;
    border-radius: 12px;
    box-shadow: 0px 8px 8px -4px #1018280A;
    box-shadow: 0px 20px 24px -4px #1018281A;
    
  }


.modal-body{
  margin-top: 20px;
}

.modal-title{
  color:#0B101A;
  font-size: 18px;
  font-weight: 600;
}
.close-btn{
  float: right;
  background: none;
  border: 0px;
  margin-top: 10px;
}

.check-btn{
  margin-top: 50px;
  display: block;
  margin: auto;
  margin-top: 35px;
  width: 200px;
  height: 60px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #2A3958;
  color:#ffffff;
  font-size: 26px;
}

#modal-not-selected{
  background-color: white;
  border-radius: 12px;
}









