body{
  font-family: Pretendard;
}
#dot {
  height: 6px;
  width: 6px;
  background-color: #FF4D4F;
  ;
  border-radius: 50%;
  display: inline-block;
}

#home-top1{
  font-family: Pretendard;
  font-size: 24px;
font-weight: 700;
line-height: 28.64px;
text-align: left;
color: #0B101A;

}

#home-top2{
font-family: Pretendard;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
text-align: left;
color:#FF4D4F;
}

#head-hr{
  margin-top:20px;
  border: 1px solid #D7D8DA
}

#nav-bar{
  margin-top: 10px;
  border-radius: 5px;
}
#menu-link{
  list-style-type: none;
  background-color: #EBEEF3;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  border-radius: 8px 0px 0px 8px;
  max-height: 39.55px;
}
#menu-link li{
  display: inline;
}

#menu-link li a {
    display: inline-block;
    color: #B1B4BB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
li a[class='active']{
  background: #2A3958;
  border-bottom: 4px solid #2A3958;
  color:#FFFFFF !important;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  
}

.home-sec{
  margin-top: 50px;
}

span u{
  color : #FF4D4F;
}

.action-select{
  float: right;
}

#table-t1{
  font-size: 20px;
  font-weight: bolder;
  line-height: 23.87px;
  text-align: left;
  color: #0B101A;

  
}

#table-t2{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 16.71px;
  color: #5A616A;

}

.table-filtters{
  border-radius: 8px;
  height: 39px;
  width: 150.15px;
  border: 1px solid #B1B4BB;
  background-color: #FFFFFF;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  height: 39px;
  width: 150.15px;
  border: 1px solid #B1B4BB;
  background-color: #FFFFFF;  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-width: 150.15px;
  bottom: -108px;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.select-option{
  text-indent: 10%;
  font-size: 16px;
  padding-top: 6px 46px 6px 16px;
  gap: 10px;
}

.select-option:hover{
  background: #2A3958;
  color: #FFFFFF;
  font-weight: 500;
}

#dropdown-first{
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 12px;
  margin-left: 5px;
  letter-spacing: normal;
}

.fa-angle-down{
  position: relative;
  right: -22px;
  border:1px;
}

.caret-up {
  content: "\25bc";
  color: grey;
}





