#dot {
  height: 6px;
  width: 6px;
  background-color: #FF4D4F;
  ;
  border-radius: 50%;
  display: inline-block;
}

#home-top1{
  font-family: Pretendard;
  font-size: 24px;
font-weight: 700;
line-height: 28.64px;
text-align: left;
color: #0B101A;

}

#home-top2{
font-family: Pretendard;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
text-align: left;
color:#FF4D4F;
}

#head-hr{
  margin-top:20px;
  border: 1px solid #D7D8DA
}

#nav-bar{
  margin-top: 10px;
  border-radius: 5px;
}
#menu-link{
  list-style-type: none;
  background-color: #EBEEF3;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  border-radius: 8px 0px 0px 8px;
  max-height: 39.55px;
}
#menu-link li{
  display: inline;
}

#menu-link li a {
    display: inline-block;
    color: #B1B4BB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
li a[class='active']{
  background: #2A3958;
  border-bottom: 4px solid #2A3958;
  color:#FFFFFF !important;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  
}
